wIwatW/.project
wIwatW/HelloWorld.txt
wIwatW/java_pid2520.hprof
wIwatW/java_pid3440.hprof
wIwatW/java_pid4676.hprof
wIwatW/java_pid6788.hprof
wIwatW/java_pid11384.hprof
wIwatW/Neues Textdokument.txt
wIwatW/.settings/org.eclipse.jdt.core.prefs
wIwatW/rc9.txt
wIwatW/pegida_korpus.txt
wIwatW/out.txt
wIwatW/java_pid7824.hprof
wIwatW/commons-codec-1.9.jar
wIwatW/aaa
wIwatW/teste_ole.txt
wIwatW/texte_ole.doc
wIwatW/textw_ole.doc
wIwatW/wiwatWmeta1.ser
wIwatW/analyse
wIwatW/andere texte
wIwatW/butexte
wIwatW/Futter
wIwatW/Märchen
wIwatW/refcor
wIwatW/res
wIwatW/taggermodels
wIwatW/texte
wIwatW/texte - Kopie
wIwatW/texte - Kopie (2) 411116
wIwatW/texte - Pegida
wIwatW/texte marina
wIwatW/texte_minigolf
wIwatW/bin
wIwatW/META-INF/maven/commons-codec
wIwatW/src/org/apache
wIwatW/META-INF
wIwatW/.classpath
